.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body, #root {
  height:100%;
  overflow:hidden;
}

.user-image {
    max-height: 100px;
    max-width: 100px;
}

#usersListColumns {
  position: relative;
  height:100%;

}

#searchBar {
  position:absolute;
  top: 0px;
  left:0px;
  width: 200px;
  height:100%;
  padding:10px;
}

.height-100 {
  height:100%;
}

#usersList {
  position:relative;
  top: 0px;
  left: 200px;
  padding:10px;
  margin-bottom:20px;
  height: calc(100% - 250px);
  width: 100%;
  overflow:auto;
}


.user-detail {
  height: 225px;
  border-bottom: 1px solid #ddd;
  overflow:hidden;

}

.user-photo {
  width: 150px;
  margin-top: 10px;
}

.user-title {
  margin-top: 10px;
}

.user-contact-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pull-left {
  float:left!important;
}

#pagination {
  padding: 20px;
}

.clear {
  clear: both;}